<!DOCTYPE HTML>
<html>
<head>
<title>register</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
 <!-- Bootstrap Core CSS -->
<link href="/static/public/assets/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/static/public/assets/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/static/public/assets/css/font-awesome.css" rel="stylesheet">
<!-- jQuery -->
<!--<link href='http://fonts.useso.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>-->
<!-- lined-icons -->
<link rel="stylesheet" href="/static/public/assets/css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<!--clock init-->
</head>
<body>
	<!--/login-->
	<div class="error_page">
		<!--/login-top-->
		<div class="error-top">
			<h2 class="inner-tittle page">柯南博客</h2>
			<div class="login">
				<h3 class="inner-tittle t-inner">Login</h3>
				<div class="buttons login">
					<ul>
						<li><a href="#" class="hvr-sweep-to-right">Facebook</a></li>
						<li class="lost"><a href="#" class="hvr-sweep-to-left">Twitter</a> </li>
						<div class="clearfix"></div>
					</ul>
				</div>
				<form id="userForm" class="userForm" method="post" action="login" enctype="multipart/form-data">
					<input type="text" name="account" class="text" id="account" placeholder="请输入您的昵称" />
					<input type="password" name="password" class="password" id="password" placeholder="请输入您的密码" />
                    <input type="password" name="confirmPassword" class="password" id="confirmPassword" placeholder="请确认您输入的密码" />
					<div class="submit"><input type="submit" class="login" id="login" value="Login" ></div>
					<p>您是否已经有账户了？<a href="login">登录</a></p>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
			<!--//login-top-->
   	</div>

	<!--//login-->
	<!--js -->
	<script src="/static/public/assets/js/jquery-1.10.2.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="/static/public/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	//清空账号可密码
		$(function(){
			$("#account").val();
			$("#password").val();
		});
	</script>
</body>
</html>