<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/static/public/team/images/favicon/favicon.png" type="image/x-icon">
    <link rel="icon" href="/static/public/team/images/favicon/favicon.png" type="image/x-icon">

    <title></title>

    <!--Library Styles-->
    <link href="/static/public/team/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/font-awesome.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/nivo-lightbox.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/nivo-themes/default/default.css" rel="stylesheet">

    <!--Template Styles-->
    <link href="/static/public/team/css/style.css" rel="stylesheet">
    <link href="/static/public/team/css/scheme/purple.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <div id="main-wrapper">
        <!--左侧导航栏-->
        {% include "include/leftNav.html" %}

        <div id="container">

            <!-- BEGIN BLOG -->
            <section id="blog" class="blog">
                <div class="row">
                    <div class="col-md-9">
                        <div id="primary" class="row">
                            <div class="col-md-12">
                                <!-- BEGIN ARTICLE -->
                                <article class="post">
                                    {% for blog in secondBlog1 %}
                                    <div class="post-thumb">
                                        <a href="blog-post.html">
                                            <img src="{{ blog.briefPic }}" alt="Blog Post 1" />
                                        </a>
                                    </div>
                                    <div class="post-title">
                                        <h1><a href="blog-post.html">{{ blog.title }}</a></h1>
                                    </div>
                                    <div class="post-meta">
                                        <span class="author">ScriptEden</span>
                                        <span class="dates">23 july 2015</span>
                                        <span class="comments-count"><a href="blog-post.html">5 Comments</a>
                                        </span>
                                    </div>
                                    <div class="post-content" id="blogContent">
                                        {{ blog.content }}
                                    </div>
                                    {% endfor %}
                                </article>
                                <!-- END ARTICLE -->
                            </div>

                            <!-- BLOG AUTHOR -->
                            <div class="col-md-12">
                                <div class="blog-author">
                                    <h3>作者</h3>
                                    <div class="media">
                                        <figure class="pull-left">
                                            <img class="media-object" src="/static/public/team/images/author.jpg" alt="Author">
                                        </figure>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="javascript:;">王凤枝</a></h4>
                                            <p>“科技企业家习惯一马平川的顺利前进，但中国市场的规则与他们所想并不一样。”WilmerHale律师事务所北京办事处合伙人莱斯特·罗斯（Lester Ross）说。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- BLOG COMMENTS -->
                            <div class="col-md-12">
                                {% include "include/comments.html" %}
                            </div>
                            <!-- END BLOG COMMENTS -->
                        </div>
                    </div>
                    <!--右侧导航栏-->
                    {% include "include/rightNav.html" %}
                </div>
            </section>
            <!-- END BLOG -->

            <!-- BEGIN FOOTER -->
            <footer>
                <div class="row">
                    <div class="col-md-12">
                        <div class="social">
                            <a href="javascript:;"><i class="fa fa-qq"></i></a>
                            <a href="javascript:;"><i class="fa fa-weixin"></i></a>
                            <a href="javascript:;"><i class="fa fa-weibo"></i></a>
                            <a href="javascript:;"><i class="fa fa-tencent-weibo"></i></a>
                        </div>
                        <p>
                            Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a>
                        </p>
                    </div>
                </div>
            </footer>
            <!-- END FOOTER -->
        </div>
    </div>



    <!-- Back to top -->
    <div class="totop" id="backtotop">
        <a class="to-top-btn sscroll" href="index.html#home"><i class="fa fa-angle-double-up"></i></a>
    </div>

    <!-- Library Scripts -->
    <script src="/static/public/team/js/jquery-1.10.2.min.js"></script>
    <script src="/static/public/team/js/jquery-1.10.2.js"></script>
    <script src="/static/public/team/js/lib/jquery.preloader.js"></script>
    <script src="/static/public/team/js/lib/nivo-lightbox.min.js"></script>
    <script src="/static/public/team/js/bootstrap.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.superslides.min.js"></script>
    <script src="/static/public/team/js/lib/smoothscroll.js"></script>
    <script src="/static/public/team/js/lib/jquery.bxslider.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.mixitup.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.backtotop.js"></script>
    <script src="/static/public/team/js/lib/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="/static/public/team/js/lib/retina.min.js"></script>

    <!-- Custom Script -->
    <script src="/static/public/team/js/main.js"></script>
    <script src="/static/js/secondBlog.js"></script>
</body>

</html>
