<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/static/public/team/images/favicon/favicon.png" type="image/x-icon">
    <link rel="icon" href="/static/public/team/images/favicon/favicon.png" type="image/x-icon">

    <title>secondAlbum</title>

    <!--Library Styles-->
    <link href="/static/public/team/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/font-awesome.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/nivo-lightbox.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/nivo-themes/default/default.css" rel="stylesheet">

    <!--Template Styles-->
    <link href="/static/public/team/css/style.css" rel="stylesheet">
    <link href="/static/public/team/css/scheme/purple.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <div id="main-wrapper">
        <!--左侧导航栏-->
        {% include "include/leftNav.html" %}

        <div id="container">

            <!-- BEGIN BLOG -->
            <section id="blog" class="blog">
                <div class="row">
                    <div class="col-md-9">
                        <div id="primary" class="row">
                            <div class="col-md-12">
                                <!-- BEGIN ARTICLE -->
                                <article class="post">
                                    <div class="post-title" style="margin-top: -20px;">
                                        <h1><a href="blog-post.html">美国互联网企业中国之梦褪色：立足也很难赚钱</a>
                                        </h1>
                                    </div>
                                    <div class="post-meta">
                                        <span class="author">ScriptEden</span>
                                        <span class="dates">23 july 2015</span>
                                        <span class="comments-count"><a href="blog-post.html">5 Comments</a>
                                        </span>
                                    </div>
                                    <div class="post-content">
										 <!-- 相册开始 -->
            							<section id="portfolio" class="portfolio" style="margin-top: -90px;">
											<div class="row">
												<div class="col-md-12 mg-bt-80">
													<div class="row portfolioContainer  text-center">
														<div class="col-md-4 col-xs-6 portfolio-item websites">
															<a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-1.jpg" data-lightbox-gallery="team-portfolio">
																<span class="project-hover">
																	<!--<span>Designing UI/UX-->
																	<!--</span>-->
																</span>
																<img src="/static/public/team/images/portfolio/portfolio-thumb-1.jpg" alt="portfolio-thumb-1">
															</a>
														</div>
														<div class="col-md-4 col-xs-6 portfolio-item illustrations">
															<a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-5.jpg" data-lightbox-gallery="team-portfolio">
																<span class="project-hover">
																	<!--<span>Designing Apps-->
																	<!--</span>-->
																</span>
																<img src="/static/public/team/images/portfolio/portfolio-thumb-5.jpg" alt="portfolio-thumb-5">
															</a>
														</div>
														<div class="col-md-4 col-xs-6 portfolio-item websites">
															<a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-3.jpg" title="title"  data-lightbox-gallery="team-portfolio">
																<span class="project-hover">
																	<!--<span>Branding Identity-->
																	<!--</span>-->
																</span>
																<img src="/static/public/team/images/portfolio/portfolio-thumb-3.jpg" alt="portfolio-thumb-3">
															</a>
														</div>
														<div class="col-md-4 col-xs-6 portfolio-item photo">
															<a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-4.jpg" data-lightbox-gallery="team-portfolio">
																<span class="project-hover">
																	<!--<span>Photography-->
																	<!--</span>-->
																</span>
																<img src="/static/public/team/images/portfolio/portfolio-thumb-4.jpg" alt="portfolio-thumb-4">
															</a>
														</div>
														<div class="col-md-4 col-xs-6 portfolio-item websites">
															<a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-2.jpg" data-lightbox-gallery="team-portfolio">
																<span class="project-hover">
																	<!--<span>Website Design-->
																	<!--</span>-->
																</span>
																<img src="/static/public/team/images/portfolio/portfolio-thumb-2.jpg" alt="portfolio-thumb-2">
															</a>
														</div>
														<div class="col-md-4 col-xs-6 portfolio-item illustrations">
															<a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-6.jpg" data-lightbox-gallery="team-portfolio">
																<span class="project-hover">
																	<!--<span>Branding Illustration-->
																	<!--</span>-->
																</span>
																<img src="/static/public/team/images/portfolio/portfolio-thumb-6.jpg" alt="portfolio-thumb-6">
															</a>
														</div>

														<div class="col-md-4 col-xs-6 portfolio-item websites">
															<a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-1.jpg" data-lightbox-gallery="team-portfolio">
																<span class="project-hover">
																	<!--<span>Designing UI/UX-->
																	<!--</span>-->
																</span>
																<img src="/static/public/team/images/portfolio/portfolio-thumb-1.jpg" alt="portfolio-thumb-1">
															</a>
														</div>
														<div class="col-md-4 col-xs-6 portfolio-item illustrations">
															<a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-5.jpg" data-lightbox-gallery="team-portfolio">
																<span class="project-hover">
																	<!--<span>Designing Apps-->
																	<!--</span>-->
																</span>
																<img src="/static/public/team/images/portfolio/portfolio-thumb-5.jpg" alt="portfolio-thumb-5">
															</a>
														</div>
														<div class="col-md-4 col-xs-6 portfolio-item websites">
															<a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-3.jpg" title="title"  data-lightbox-gallery="team-portfolio">
																<span class="project-hover">
																	<!--<span>Branding Identity-->
																	<!--</span>-->
																</span>
																<img src="/static/public/team/images/portfolio/portfolio-thumb-3.jpg" alt="portfolio-thumb-3">
															</a>
														</div>

														<div class="col-md-4 col-xs-6 portfolio-item photo">
															<a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-4.jpg" data-lightbox-gallery="team-portfolio">
																<span class="project-hover">
																	<!--<span>Photography-->
																	<!--</span>-->
																</span>
																<img src="/static/public/team/images/portfolio/portfolio-thumb-4.jpg" alt="portfolio-thumb-4">
															</a>
														</div>
														<div class="col-md-4 col-xs-6 portfolio-item websites">
															<a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-2.jpg" data-lightbox-gallery="team-portfolio">
																<span class="project-hover">
																	<!--<span>Website Design-->
																	<!--</span>-->
																</span>
																<img src="/static/public/team/images/portfolio/portfolio-thumb-2.jpg" alt="portfolio-thumb-2">
															</a>
														</div>
														<div class="col-md-4 col-xs-6 portfolio-item illustrations">
															<a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-6.jpg" data-lightbox-gallery="team-portfolio">
																<span class="project-hover">
																	<!--<span>Branding Illustration-->
																	<!--</span>-->
																</span>
																<img src="/static/public/team/images/portfolio/portfolio-thumb-6.jpg" alt="portfolio-thumb-6">
															</a>
														</div>
													</div>
												</div>
											</div>
										</section>
            							<!-- 相册结束 -->
                                    </div>
                                </article>
                                <!-- END ARTICLE -->
                            </div>

                            <!-- BLOG COMMENTS -->
                            <div class="col-md-12">
                                {% include "include/comments.html" %}
                            </div>
                            <!-- END BLOG COMMENTS -->
                        </div>
                    </div>
                    <!--右侧导航栏-->
                    {% include "include/rightNav.html" %}

                </div>
            </section>
            <!-- END BLOG -->

            <!-- BEGIN FOOTER -->
            <footer>
                <div class="row">
                    <div class="col-md-12">
                        <div class="social">
                            <a href="javascript:;"><i class="fa fa-qq"></i></a>
                            <a href="javascript:;"><i class="fa fa-weixin"></i></a>
                            <a href="javascript:;"><i class="fa fa-weibo"></i></a>
                            <a href="javascript:;"><i class="fa fa-tencent-weibo"></i></a>
                        </div>
                        <p>
                            Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a>
                        </p>
                    </div>
                </div>
            </footer>
            <!-- END FOOTER -->
        </div>
    </div>



    <!-- Back to top -->
    <div class="totop" id="backtotop">
        <a class="to-top-btn sscroll" href="index.html#home"><i class="fa fa-angle-double-up"></i></a>
    </div>

    <!-- Library Scripts -->
    <script src="/static/public/team/js/jquery-1.10.2.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.preloader.js"></script>
    <script src="/static/public/team/js/lib/nivo-lightbox.min.js"></script>
    <script src="/static/public/team/js/bootstrap.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.superslides.min.js"></script>
    <script src="/static/public/team/js/lib/smoothscroll.js"></script>
    <script src="/static/public/team/js/lib/jquery.bxslider.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.mixitup.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.backtotop.js"></script>
    <script src="/static/public/team/js/lib/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="/static/public/team/js/lib/retina.min.js"></script>

    <!-- Custom Script -->
    <script src="/static/public/team/js/main.js"></script>
</body>

</html>
