<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/static/public/team/images/favicon/favicon.png" type="image/x-icon">
    <link rel="icon" href="/static/public/team/images/favicon/favicon.png" type="image/x-icon">

    <title></title>

    <!--Library Styles-->
    <link href="/static/public/team/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/font-awesome.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/nivo-lightbox.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/nivo-themes/default/default.css" rel="stylesheet">

    <!--Template Styles-->
    <link href="/static/public/team/css/style.css" rel="stylesheet">
    <link href="/static/public/team/css/scheme/purple.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="/static/public/team/js/html5shiv.js"></script>
      <script src="/static/public/team/js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <div id="main-wrapper">
        <!--左侧导航栏-->
        {% include "include/leftNav.html" %}

        <div id="container">

            <!-- BEGIN BLOG -->
            <section id="blog" class="blog">
                <div class="row">
                    <div class="col-md-9">
                        <div id="primary" class="row">

                            <div class="col-md-12">
                                <!-- BEGIN ARTICLE -->
                                <article class="post">
                                    <div class="post-thumb">
                                        <a href="blog-post.html">
                                            <img src="/static/public/team/images/post-1.jpg" alt="Blog Post 1" />
                                        </a>
                                    </div>
                                    <div class="post-title">
                                        <h1><a href="blog-post.html">Sed pharetra nibh eget orci convallis at posuere leo</a>
                                        </h1>
                                    </div>
                                    <div class="post-meta">
                                        <span class="author">ScriptEden</span>
                                        <span class="dates">31 july 2015</span>
                                        <span class="comments-count"><a href="blog-post.html">No Comment</a>
                                        </span>
                                    </div>
                                    <div class="post-content">
                                        <p>Etiam feugiat imperdiet rhoncus. Sed suscipit bibendum enim, sed volutpat tortor malesuada non. Morbi fringilla dui non purus porttitor mattis. Suspendisse quis vulputate risus. Phasellus erat velit, sagittis sed varius volutpat, placerat nec urna. Nam eu metus vitae dolor fringilla feugiat. Nulla facilisi. Etiam enim metus, luctus in adipiscing at, consectetur quis sapien. Duis imperdiet egestas.</p>
                                        <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum [...]</p>
                                        <br/>
                                        <a class="btn" href="secondBlog">Read More</a>
                                    </div>
                                </article>
                                <!-- END ARTICLE -->
                                <!-- BEGIN ARTICLE -->
                                <article class="post">
                                    <div class="post-thumb">
                                        <a href="blog-post.html">
                                            <img src="/static/public/team/images/post-2.jpg" alt="Blog Post 2" />
                                        </a>
                                    </div>
                                    <div class="post-title">
                                        <h1><a href="blog-post.html">Sed pharetra nibh eget orci convallis at posuere leo</a>
                                        </h1>
                                    </div>
                                    <div class="post-meta">
                                        <span class="author">ScriptEden</span>
                                        <span class="dates">30 july 2015</span>
                                        <span class="comments-count"><a href="blog-post.html">No Comment</a>
                                        </span>
                                    </div>
                                    <div class="post-content">
                                        <p>Etiam feugiat imperdiet rhoncus. Sed suscipit bibendum enim, sed volutpat tortor malesuada non. Morbi fringilla dui non purus porttitor mattis. Suspendisse quis vulputate risus. Phasellus erat velit, sagittis sed varius volutpat, placerat nec urna. Nam eu metus vitae dolor fringilla feugiat. Nulla facilisi. Etiam enim metus, luctus in adipiscing at, consectetur quis sapien. Duis imperdiet egestas.</p>
                                        <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum [...]</p>
                                        <br/>
                                        <a class="btn" href="blog-post.html">Read More</a>
                                    </div>
                                </article>
                                <!-- END ARTICLE -->
                                <!-- BEGIN ARTICLE -->
                                <article class="post">
                                    <div class="post-thumb">
                                        <a href="blog-post.html">
                                            <img src="/static/public/team/images/post-3.jpg" alt="Blog Post 3" />
                                        </a>
                                    </div>
                                    <div class="post-title">
                                        <h1><a href="blog-post.html">Sed pharetra nibh eget orci convallis</a>
                                        </h1>
                                    </div>
                                    <div class="post-meta">
                                        <span class="author">ScriptEden</span>
                                        <span class="dates">23 july 2015</span>
                                        <span class="comments-count"><a href="blog-post.html">No Comment</a>
                                        </span>
                                    </div>
                                    <div class="post-content">
                                        <p>Etiam feugiat imperdiet rhoncus. Sed suscipit bibendum enim, sed volutpat tortor malesuada non. Morbi fringilla dui non purus porttitor mattis. Suspendisse quis vulputate risus. Phasellus erat velit, sagittis sed varius volutpat, placerat nec urna. Nam eu metus vitae dolor fringilla feugiat. Nulla facilisi. Etiam enim metus, luctus in adipiscing at, consectetur quis sapien. Duis imperdiet egestas.</p>
                                        <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum [...]</p>
                                        <br/>
                                        <a class="btn" href="blog-post.html">Read More</a>
                                    </div>
                                </article>
                                <!-- END ARTICLE -->
                            </div>

                            <!--分页开始-->
                            <div class="col-md-12">
                                <ul class="pagination">
                                    <li><a href="javascript:;"><i class="fa fa-angle-double-left" style="padding-top:10px;"></i></a>
                                    </li>
                                    <li><a href="javascript:;">1</a>
                                    </li>
                                    <li class="active"><a href="javascript:;">2</a>
                                    </li>
                                    <li><a href="javascript:;">3</a>
                                    </li>
                                    <li><a href="javascript:;">4</a>
                                    </li>
                                    <li><a href="javascript:;"><i class="fa fa-angle-double-right" style="padding-top:10px;"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!--分页结束-->

                        </div>
                    </div>
                    <!--右侧导航栏-->
                    {% include "include/rightNav.html" %}

                </div>
            </section>
            <!-- END BLOG -->

            <!-- BEGIN FOOTER -->
            <footer>
                <div class="row">
                    <div class="col-md-12">
                        <div class="social">
                            <a href="javascript:;"><i class="fa fa-qq"></i></a>
                            <a href="javascript:;"><i class="fa fa-weixin"></i></a>
                            <a href="javascript:;"><i class="fa fa-weibo"></i></a>
                            <a href="javascript:;"><i class="fa fa-tencent-weibo"></i></a>
                        </div>
                        <p>
                            Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a>
                        </p>
                    </div>
                </div>
            </footer>
            <!-- END FOOTER -->
        </div>
    </div>


    <!-- Back to top -->
    <div class="totop" id="backtotop">
        <a class="to-top-btn sscroll" href="index.html#home"><i class="fa fa-angle-double-up"></i></a>
    </div>

    <!-- Library Scripts -->
    <script src="/static/public/team/js/jquery-1.10.2.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.preloader.js"></script>
    <script src="/static/public/team/js/lib/nivo-lightbox.min.js"></script>
    <script src="/static/public/team/js/bootstrap.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.superslides.min.js"></script>
    <script src="/static/public/team/js/lib/smoothscroll.js"></script>
    <script src="/static/public/team/js/lib/jquery.bxslider.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.mixitup.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.backtotop.js"></script>
    <script src="/static/public/team/js/lib/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="/static/public/team/js/lib/retina.min.js"></script>

    <!-- Custom Script -->
    <script src="/static/public/team/js/main.js"></script>
</body>

</html>
