<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/static/public/team/images/favicon/favicon.png" type="image/x-icon">
    <link rel="icon" href="/static/public/team/images/favicon/favicon.png" type="image/x-icon">

    <title>film</title>

    <!--Library Styles-->
    <link href="/static/public/team/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/font-awesome.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/nivo-lightbox.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/nivo-themes/default/default.css" rel="stylesheet">

    <!--Template Styles-->
    <link href="/static/public/team/css/style.css" rel="stylesheet">
    <link href="/static/public/team/css/scheme/purple.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="/static/public/team/js/html5shiv.js"></script>
      <script src="/static/public/team/js/respond.min.js"></script>
    [endif]-->
</head>

<body data-spy="scroll">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <div id="main-wrapper">
        <!--左侧导航栏-->
        {% include "include/leftNav.html" %}

        <div id="container">

            <!-- BEGIN BLOG -->
            <section id="blog" class="blog">
                <div class="row">
                    <div class="col-md-9">
                        <div id="primary" class="row">

                            <div class="col-md-12">
                                <!-- BEGIN ARTICLE -->
                                <article class="post">
                                    <div class="post-thumb">
                                        <a href="secondFilm">
                                            <img src="/static/public/team/images/post-1.jpg" alt="Blog Post 1" />
                                        </a>
                                    </div>
                                    <div class="post-title">
                                        <h1><a href="secondFilm">美国互联网企业中国之梦褪色：立足也很难赚钱</a>
                                        </h1>
                                    </div>
                                    <div class="post-meta">
                                        <span class="author">ScriptEden</span>
                                        <span class="dates">31 july 2015</span>
                                        <span class="comments-count"><a href="secondFilm">No Comment</a>
                                        </span>
                                    </div>
                                    <div class="post-content">
                                        <p>如今不到一年，除了中国市场之外，Netflix服务成功在许多地方登陆。据一份季度文件披露，Netflix通过给中国供应商授权许可的方式来获得“适度的”收入。Netflix公司对此拒绝置评。</p>
                                        <p>Facebook的曲径策略——包括扎克伯格学汉语——收效甚微。亚马逊还在与中国本地的电商巨无霸阿里巴巴博弈。在取得最初的巨大成功之后，苹果正在被本土品牌超越。[...]</p>
                                        <br/>
                                        <a class="btn" href="secondFilm">Read More</a>
                                    </div>
                                </article>
                                <!-- END ARTICLE -->
                                <!-- BEGIN ARTICLE -->
                                <article class="post">
                                    <div class="post-thumb">
                                        <a href="secondFilm">
                                            <img src="/static/public/team/images/post-2.jpg" alt="Blog Post 2" />
                                        </a>
                                    </div>
                                    <div class="post-title">
                                        <h1><a href="secondFilm">一宣布召回Note 7就不爆炸了 这是为啥呢？</a>
                                        </h1>
                                    </div>
                                    <div class="post-meta">
                                        <span class="author">ScriptEden</span>
                                        <span class="dates">30 july 2015</span>
                                        <span class="comments-count"><a href="secondFilm">No Comment</a>
                                        </span>
                                    </div>
                                    <div class="post-content">
                                        <p>首先，Note 7存量样本在减少。三星共计向市场投放了306万部Note 7，如果爆炸有一个概率值的话，那显然，流通的数量越多，爆炸自然就多。不过，三星的召回行动非常迅速且行之有效，我们可以理解为：“定时炸弹被提前安全解除”。</p>
                                        <p>此前，三星承诺年底前公开Note 7爆炸的官方说明，有消息称，实质上完整报告已经完成，但仅限在密切合作伙伴内部流通，尚未敲定公开日。 [...]</p>
                                        <br/>
                                        <a class="btn" href="secondFilm">Read More</a>
                                    </div>
                                </article>
                                <!-- END ARTICLE -->
                                <!-- BEGIN ARTICLE -->
                                <article class="post">
                                    <div class="post-thumb">
                                        <a href="secondFilm">
                                            <img src="/static/public/team/images/post-3.jpg" alt="Blog Post 3" />
                                        </a>
                                    </div>
                                    <div class="post-title">
                                        <h1><a href="secondFilm">虚拟现实 人工智能和人体未来会如何融合？</a>
                                        </h1>
                                    </div>
                                    <div class="post-meta">
                                        <span class="author">ScriptEden</span>
                                        <span class="dates">23 july 2015</span>
                                        <span class="comments-count"><a href="secondFilm">No Comment</a>
                                        </span>
                                    </div>
                                    <div class="post-content">
                                        <p>“人类”与“机器”之间的鸿沟正在缩小。机器学习使得虚拟现实（VR）能够比以往任何时候都要“真实逼真”，人工智能（AI）对曾局限于人脑的活动的复制正在不断改进。这两项技术共同使得科技越来越贴近人体。一切正变得越来越不可思议。</p>
                                        <p>让我们先提出这个问题：在VR模式中站在《我的世界》（Minecraft）大教堂顶部边缘，会比现实中站在挪威一座山的边缘更吓人吗？这两个我都体验过，我发现前者更加可怕。 [...]</p>
                                        <br/>
                                        <a class="btn" href="secondFilm">Read More</a>
                                    </div>
                                </article>
                                <!-- END ARTICLE -->
                            </div>

                            <!--分页开始-->
                            <div class="col-md-12">
                                <ul class="pagination">
                                    <li><a href="javascript:;"><i class="fa fa-angle-double-left" style="padding-top:10px;"></i></a>
                                    </li>
                                    <li><a href="javascript:;">1</a>
                                    </li>
                                    <li class="active"><a href="javascript:;">2</a>
                                    </li>
                                    <li><a href="javascript:;">3</a>
                                    </li>
                                    <li><a href="javascript:;">4</a>
                                    </li>
                                    <li><a href="javascript:;"><i class="fa fa-angle-double-right" style="padding-top:10px;"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!--分页结束-->

                        </div>
                    </div>
                    <!--右侧导航栏-->
                    {% include "include/rightNav.html" %}

                </div>
            </section>
            <!-- END BLOG -->

            <!-- BEGIN FOOTER -->
            <footer>
                <div class="row">
                    <div class="col-md-12">
                        <div class="social">
                            <a href="javascript:;"><i class="fa fa-qq"></i></a>
                            <a href="javascript:;"><i class="fa fa-weixin"></i></a>
                            <a href="javascript:;"><i class="fa fa-weibo"></i></a>
                            <a href="javascript:;"><i class="fa fa-tencent-weibo"></i></a>
                        </div>
                        <p>
                            Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a>
                        </p>
                    </div>
                </div>
            </footer>
            <!-- END FOOTER -->
        </div>
    </div>


    <!-- Back to top -->
    <div class="totop" id="backtotop">
        <a class="to-top-btn sscroll" href="index.html#home"><i class="fa fa-angle-double-up"></i></a>
    </div>

    <!-- Library Scripts -->
    <script src="/static/public/team/js/jquery-1.10.2.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.preloader.js"></script>
    <script src="/static/public/team/js/lib/nivo-lightbox.min.js"></script>
    <script src="/static/public/team/js/bootstrap.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.superslides.min.js"></script>
    <script src="/static/public/team/js/lib/smoothscroll.js"></script>
    <script src="/static/public/team/js/lib/jquery.bxslider.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.mixitup.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.backtotop.js"></script>
    <script src="/static/public/team/js/lib/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="/static/public/team/js/lib/retina.min.js"></script>

    <!-- Custom Script -->
    <script src="/static/public/team/js/main.js"></script>
</body>

</html>
