<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/static/public/team/images/favicon/favicon.png" type="image/x-icon">
    <link rel="icon" href="/static/public/team/images/favicon/favicon.png" type="image/x-icon">

    <title>Home</title>

    <!--Library Styles-->
    <link href="/static/public/team/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/font-awesome.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/nivo-lightbox.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/nivo-themes/default/default.css" rel="stylesheet">

    <!--Template Styles-->
    <link href="/static/public/team/css/style.css" rel="stylesheet">
    <link href="/static/public/team/css/scheme/purple.css" rel="stylesheet">

    <style type="text/css">

    </style>

    <!--[if lt IE 9]>
      <script src="/static/public/team/js/html5shiv.js"></script>
      <script src="/static/public/team/js/respond.min.js"></script>
    [endif]-->
</head>

<body data-spy="scroll">

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <div id="main-wrapper">

        <!-- Site Navigation -->
        <div id="menu">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html#">
                        <img src="/static/public/team/images/logo.png" alt="logo" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a class="sscroll" href="index.html#home" style="font-size:1.3em;">首页</a></li>
                        <li><a class="sscroll" href="index.html#services" style="font-size:1.3em;">栏目</a></li>
                        <li><a class="sscroll" href="index.html#blog-front" style="font-size:1.3em;">博文</a></li>
                        <li><a class="sscroll" href="index.html#portfolio" style="font-size:1.3em;">相册</a></li>
                        <li><a class="sscroll" href="index.html#clients" style="font-size:1.3em;">音乐</a></li>
                        <li><a class="sscroll" href="index.html#about" style="font-size:1.3em;">视频</a></li>
                        <li><a class="sscroll" href="index.html#testimonial" style="font-size:1.3em;">分享</a></li>
                        <li><a class="sscroll" href="index.html#contact" style="font-size:1.3em;">留言板</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>

        <div id="container">
            <!-- 首页开始 -->
            <section id="home" class="home">
                <!-- Superslides -->
                <div id="home-slide">
                    <ul class="slides-container text-center">
                        <li>
                            <div class="slide-text">
                                <h2>精美的博文</h2>
                                <span>向您介绍最前沿的科技，劲爆的体育赛事，有趣的生活经历，可口的美食，难忘的旅行，高端的计算机技术，更多精彩，等你来发现！</span>
                                <br/>
                            </div>
                          <div class="slide-filter"></div>
                            <img src="/static/public/team/images/slider/slide-1.jpg" class="par" alt="first">
                        </li>
                        <li>
                            <div class="slide-text">
                                <h2>珍贵的相册</h2>
                                <span>向您展示美丽的自然景观，可爱的小动物，优秀的摄影，明星的照片，动漫中的经典形象，更多精彩，等你来发现！</span>
                                <br/>
                            </div>
                          <div class="slide-filter"></div>
                            <img src="/static/public/team/images/slider/slide-2.jpg" class="par" alt="first">
                        </li>
                        <li>
                            <div class="slide-text">
                                <h2>精彩的视频</h2>
                                <span>给您带来最新、最好看的电影、电视剧、MV、微电影，囊括动作、喜剧、推理、悬疑、爱情、动漫各种类型，更多精彩，等你来发现！</span>
                                <br/>
                            </div>
                          <div class="slide-filter"></div>
                            <img src="/static/public/team/images/slider/slide-3.jpg" class="par" alt="first">
                        </li>
                    </ul>
                    <nav class="slides-navigation slidez">
                        <a href="javascript:;" class="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <a href="javascript:;" class="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </nav>
                </div>
                <!-- End of Superslide -->
            </section>
            <!-- 首页结束 -->

            <!-- 栏目开始 -->
            <section id="services" class="services">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-content">
                            <h2>栏目</h2>
                            <h3>这里有丰富多彩的栏目</h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="service">
                                    <div class="icon-holder">
                                        <i class="fa fa-book"></i>
                                    </div>
                                    <h3 class="heading">博文</h3>
                                    <p class="description">精美的博文，向您介绍最前沿的科技，劲爆的体育赛事，有趣的生活经历，可口的美食，难忘的旅行，高端的计算机技术，更多精彩，等你来发现！</p>
				                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="service">
                                    <div class="icon-holder">
                                        <i class="fa fa-camera"></i>
                                    </div>
                                    <h3 class="heading">相册</h3>
                                    <p class="description">珍贵的相册，向您展示美丽的自然景观，可爱的小动物，优秀的摄影，明星的照片，动漫中的经典形象，更多精彩，等你来发现！</p>
				                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="service">
                                    <div class="icon-holder">
                                        <i class="fa fa-music"></i>
                                    </div>
                                    <h3 class="heading">音乐</h3>
                                    <p class="description">动听的音乐，给您带来最新的流行歌曲，最好的歌手的新专辑，最好听的华语歌曲，最经典的英文歌曲，更多精彩，等你来发现！</p>
				                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="service">
                                    <div class="icon-holder">
                                        <i class="fa fa-film"></i>
                                    </div>
                                    <h3 class="heading">视频</h3>
                                    <p class="description">精彩的视频，给您带来最新、最好看的电影、电视剧、MV、微电影，囊括动作、喜剧、推理、悬疑、爱情、动漫各种类型，更多精彩，等你来发现！</p>
				                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="service">
                                    <div class="icon-holder">
                                        <i class="fa fa-diamond"></i>
                                    </div>
                                    <h3 class="heading">分享</h3>
                                    <p class="description">我们给您提供海量的资源，唯美的图片，动听的歌曲，精彩的视频，精美的博文，高端的技术，更多精彩，等你来发现!</p>
				                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="service">
                                    <div class="icon-holder">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <h3 class="heading">留言板</h3>
                                    <p class="description">如果您需要精美的博文，唯美的照片，动听的歌曲，精彩的视频，精美的博文，高端的技术，以及其它您想要的资源，请与我们联系！</p>
				                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 栏目结束 -->

            <!-- 博文开始 -->
            <section id="blog-front" class="blog-front gray">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>博文</h2>
                            <h3>一篇篇精美的博文</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <article class="col-md-4 col-sm-6">
                        {% for blog in sicenceBlog %}
                        <figure class="blog-thumb">
                            <img src="{{ blog.briefPic}}" alt="blog-thumb">
                             <!-- 简介图片-->
                        </figure>
                        <div class="post-area">
                                <!--<a class="post-cat" href="#">-->
                                <!--<h4>iphone</h4>                         &lt;!&ndash;图片名称&ndash;&gt;-->
                                <!--</a>-->
                            <a class="post-title" href="blog-post.html">
                                <h3>{{ blog.title }}</h3>                           <!--博文标题-->
                            </a>
                            <p class="post-content">                              <!--博文内容-->
                                {{ blog.briefNews}}
                            </p>
                        </div>
                        {% endfor %}
                    </article>

                    <article class="col-md-4 col-sm-6">
                        {% for blog in lifeBlog %}
                        <figure class="blog-thumb">
                            <img src="{{ blog.briefPic}}" alt="blog-thumb">
                             <!-- 简介图片-->
                        </figure>
                        <div class="post-area">
                            <!--<a class="post-cat" href="#">-->
                            <!--<h4>iphone</h4>                                         &lt;!&ndash;图片名称&ndash;&gt;-->
                            <!--</a>-->
                            <a class="post-title" href="blog-post.html">
                                <h3>{{ blog.title }}</h3>                           <!--博文标题-->
                            </a>
                            <p class="post-content">{{ blog.briefNews }}</p>      <!--博文内容-->
                        </div>
                        {% endfor %}
                    </article>

                    <article class="col-md-4 col-sm-6">
                        {% for blog in sportBlog %}
                        <figure class="blog-thumb">
                            <img src="{{ blog.briefPic}}" alt="blog-thumb">
                             <!-- 简介图片-->
                        </figure>
                        <div class="post-area">
                            <!--<a class="post-cat" href="#">-->
                            <!--<h4>iphone</h4>                                         &lt;!&ndash;图片名称&ndash;&gt;-->
                            <!--</a>-->
                            <a class="post-title" href="blog-post.html">
                                <h3>{{ blog.title }}</h3>                           <!--博文标题-->
                            </a>
                            <p class="post-content">{{ blog.briefNews }}</p>      <!--博文内容-->
                        </div>
                        {% endfor %}
                    </article>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn blog-btn" href="client/blog"><i class="fa fa-book fa-lg"></i>&nbsp;更多精美博文</a>
                    </div>
                </div>
            </section>
            <!-- 博文结束 -->

            <!-- 相册开始 -->
            <section id="portfolio" class="portfolio">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-content">
                            <h2>相册</h2>
                            <h3>一张张唯美的照片</h3>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <ul class="portfolioFilter text-center">
                            <li data-filter="websites">WEB SITES</li>
                            <li data-filter="illustrations">ILLUSTRATIONS</li>
                            <li data-filter="photo">PHOTOGRAPHS</li>
                            <li data-filter="all">EVERYTHING</li>
                        </ul>
                    </div>
                    <div class="col-md-12 mg-bt-80">
                        <div class="row portfolioContainer  text-center">
                            <div class="col-md-4 col-xs-6 portfolio-item websites">
                                <a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-1.jpg" data-lightbox-gallery="team-portfolio">
                                    <span class="project-hover">
                                        <span>Designing UI/UX
                                        </span>
                                    </span>
                                    <img src="/static/public/team/images/portfolio/portfolio-thumb-1.jpg" alt="portfolio-thumb-1">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item illustrations">
                                <a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-5.jpg" data-lightbox-gallery="team-portfolio">
                                    <span class="project-hover">
                                        <span>Designing Apps
                                        </span>
                                    </span>
                                    <img src="/static/public/team/images/portfolio/portfolio-thumb-5.jpg" alt="portfolio-thumb-5">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item websites">
                                <a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-3.jpg" title="Image with title"  data-lightbox-gallery="team-portfolio">
                                    <span class="project-hover">
                                        <span>Branding Identity
                                        </span>
                                    </span>
                                    <img src="/static/public/team/images/portfolio/portfolio-thumb-3.jpg" alt="portfolio-thumb-3">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item photo">
                                <a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-4.jpg" data-lightbox-gallery="team-portfolio">
                                    <span class="project-hover">
                                        <span>Photography
                                        </span>
                                    </span>
                                    <img src="/static/public/team/images/portfolio/portfolio-thumb-4.jpg" alt="portfolio-thumb-4">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item websites">
                                <a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-2.jpg" data-lightbox-gallery="team-portfolio">
                                    <span class="project-hover">
                                        <span>Website Design
                                        </span>
                                    </span>
                                    <img src="/static/public/team/images/portfolio/portfolio-thumb-2.jpg" alt="portfolio-thumb-2">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item illustrations">
                                <a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-6.jpg" data-lightbox-gallery="team-portfolio">
                                    <span class="project-hover">
                                        <span>Branding Illustration
                                        </span>
                                    </span>
                                    <img src="/static/public/team/images/portfolio/portfolio-thumb-6.jpg" alt="portfolio-thumb-6">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn blog-btn" href="client/album"><i class="fa fa-camera fa-lg"></i>&nbsp;更多精美照片</a>
                    </div>
                </div>
            </section>
            <!-- 相册结束 -->

            <!-- 音乐开始 -->
            <section id="clients" class="clients gray">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>音乐</h2>
                            <h3>一首首动听的音乐</h3>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row mg-bt-60">
                            <div class="col-md-12">
                                <ul class="client-slider">
                                    <li><a href="#"><h4>菊花台</h4></a></li>
                                    <li><a href="#"><h4>山水之间</h4></a></li>
                                    <li><a href="#"><h4>南征北战</h4></a></li>
                                    <li><a href="#"><h4>丑八怪</h4></a></li>
                                    <li><a href="#"><h4>海阔天空</h4></a></li>
                                    <li><a href="#"><h4>燕归巢</h4></a></li>
                                    <li><a href="#"><h4>青花瓷</h4></a></li>
                                    <li><a href="#"><h4>蝴蝶泉边</h4></a></li>
                                    <li><a href="#"><h4>发如雪</h4></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn blog-btn" href="client/music"><i class="fa fa-music fa-lg"></i>&nbsp;更多动听音乐</a>
                    </div>
                </div>
            </section>
            <!-- 音乐结束 -->

            <!-- 视频开始 -->
            <section id="about" class="about">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>视频</h2>
                            <h3>一个个精彩的视频</h3>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row mg-bt-40">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="teams">
                                    <div class="pict">
                                        <img src="/static/public/team/images/team/王牌逗王牌.jpg" alt="Team 1">
                                    </div>
                                    <div class="desc">
                                        <h3>王牌逗王牌</h3>
                                        <h6>主演:刘德华</h6>
                                        <div class="social">
                                            <span>拯救世界的冒险故事</span>
                                        </div>
                                    </div>

                                </div>
                          </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="teams">
                                    <div class="pict">
                                        <img src="/static/public/team/images/team/青云志.jpg" alt="Team 1">
                                    </div>
                                    <div class="desc">
                                        <h3>青云志</h3>
                                        <h6>主演:李易峰 赵丽颖</h6>
                                        <div class="social">
                                            <span>类型： 武侠  神话  古装 </span>
                                        </div>
                                    </div>

                                </div>
                          </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="teams">
                                    <div class="pict">
                                        <img src="/static/public/team/images/team/你的名字.jpg" alt="Team 1">
                                    </div>
                                    <div class="desc">
                                        <h3>你的名字</h3>
                                        <h6>导演:新海诚</h6>
                                        <div class="social">
                                            <span>高中生在梦中相遇的幻想故事</span>
                                        </div>
                                    </div>

                                </div>
                          </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="teams">
                                    <div class="pict">
                                        <img src="/static/public/team/images/team/喜剧总动员.jpg" alt="Team 1">
                                    </div>
                                    <div class="desc">
                                        <h3>喜剧总动员</h3>
                                        <h6>主演:宋小宝</h6>
                                        <div class="social">
                                            <span>宋小宝被逼劈叉惨虐哭</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn blog-btn" href="client/film"><i class="fa fa-film fa-lg"></i>&nbsp;更多精彩视频</a>
                    </div>
                </div>
            </section>
            <!-- 视频结束 -->

            <!-- 分享开始 -->
            <section id="testimonial" class="testimonial gray">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>分享</h2>
                            <h3>这里有海量的资源</h3>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div id="bx-pager" class="client-photos">
                            <a class="client-photo" data-slide-index="0" href="">
                              <img alt="" src="/static/public/team/images/clients/camera.png"> <!-- Client photo 1 -->
                            </a>
                            <a class="client-photo" data-slide-index="1" href="">
                               <img alt="" src="/static/public/team/images/clients/music.png"> <!-- Client photo 2 -->
                            </a>
                            <a class="client-photo" data-slide-index="2" href="">
                              <img alt="" src="/static/public/team/images/clients/videos.png"> <!-- Client photo 3 -->
                            </a>
                        </div>
                    <ul class="bxslider">
                        <li>
                            <h3>唯美的照片，向您展示美丽的自然景观，可爱的小动物，优秀的摄影，明星的照片，动漫中的经典形象，更多资源，等你来发现！</h3>
                        </li>
                        <li>
                            <h3>动听的音乐，给您带来最新的流行歌曲，最好的歌手的新专辑，最好听的华语歌曲，最经典的英文歌曲，更多资源，等你来发现！</h3>
                        </li>
                        <li>
                            <h3>精彩的视频，给您带来最新、最好看的电影、电视剧、MV、微电影，囊括动作、喜剧、推理、悬疑、爱情、动漫各种类型，更多资源，等你来发现！</h3>
                        </li>
                    </ul>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn blog-btn" href="client/share"><i class="fa fa-diamond fa-lg"></i>&nbsp;更多资源分享</a>
                    </div>
                </div>
            </section>
            <!-- 分享结束 -->

            <!-- 留言板开始 -->
            <section id="contact" class="contact">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>留言板</h2>
                            <h3>如果您有任何需求，请给我们留言</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="address">
                            <h2>联系我们</h2>
                            <p>如果您需要精美的博文，唯美的照片，动听的歌曲，精彩的视频，精美的博文，高端的技术，以及其它您想要的资源，请与我们联系！</p>
                            <h2>办公地点</h2>
                            <ul class="office">
                                <li><i class="fa fa-map-marker"></i> <strong>地址:</strong> 上海</li>
                                <li><i class="fa fa-phone"></i> <strong>电话:</strong> 15732030270</li>
                                <li><i class="fa fa-envelope"></i> <strong>邮箱:</strong> <a href="mailto:15732030270@163.com">15732030270@163.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <form id="contact-form" role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="c_name" placeholder="请输入您的昵称">
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control" id="c_email" placeholder="请输入您的邮箱">
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" id="c_message" rows="10" placeholder="请输入留言内容"></textarea>
                            </div>
                            <br/>
                            <button type="submit" class="btn">发送留言</button>
                            <div class="ajax-response"></div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn blog-btn" href="client/message"><i class="fa fa-envelope fa-lg"></i>&nbsp;更多有趣留言</a>
                    </div>
                </div>
            </section>
            <!-- 留言板结束 -->

            <!-- BEGIN FOOTER -->
            <footer>
                <div class="row">
                    <div class="col-md-12">
                        <div class="social">
                            <a href="javascript:;"><i class="fa fa-qq"></i></a>
                            <a href="javascript:;"><i class="fa fa-weixin"></i></a>
                            <a href="javascript:;"><i class="fa fa-weibo"></i></a>
                            <a href="javascript:;"><i class="fa fa-tencent-weibo"></i></a>
                        </div>
                        <p>
                            Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a>
                        </p>
                    </div>
                </div>
            </footer>
            <!-- END FOOTER -->
        </div>
    </div>


    <!-- Back to top -->
    <div id="backtotop">
        <a class="to-top-btn sscroll" href="index.html#home"><i class="fa fa-angle-double-up"></i></a>
    </div>


    <!-- Library Scripts -->
    <script src="/static/public/team/js/jquery-1.10.2.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.preloader.js"></script>
    <script src="/static/public/team/js/lib/nivo-lightbox.min.js"></script>
    <script src="/static/public/team/js/bootstrap.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.superslides.min.js"></script>
    <script src="/static/public/team/js/lib/smoothscroll.js"></script>
    <script src="/static/public/team/js/lib/jquery.bxslider.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.mixitup.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.backtotop.js"></script>
    <script src="/static/public/team/js/lib/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="/static/public/team/js/lib/retina.min.js"></script>

    <!-- Custom Script -->
    <script src="/static/public/team/js/main.js"></script>
</body>

</html>
