<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/static/public/team/images/favicon/favicon.png" type="image/x-icon">
    <link rel="icon" href="/static/public/team/images/favicon/favicon.png" type="image/x-icon">

    <title>Home</title>

    <!--Library Styles-->
    <link href="/static/public/team/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/font-awesome.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/nivo-lightbox.css" rel="stylesheet">
    <link href="/static/public/team/css/lib/nivo-themes/default/default.css" rel="stylesheet">

    <!--Template Styles-->
    <link href="/static/public/team/css/style.css" rel="stylesheet">
    <link href="/static/public/team/css/scheme/purple.css" rel="stylesheet">

    <style type="text/css">

    </style>

    <!--[if lt IE 9]>
      <script src="/static/public/team/js/html5shiv.js"></script>
      <script src="/static/public/team/js/respond.min.js"></script>
    [endif]-->
</head>

<body data-spy="scroll">

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <div id="main-wrapper">

        <!-- Site Navigation -->
        <div id="menu">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html#">
                        <img src="/static/public/team/images/logo.png" alt="logo" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a class="sscroll" href="index.html#home" style="font-size:1.3em;">首页</a></li>
                        <li><a class="sscroll" href="index.html#services" style="font-size:1.3em;">栏目</a></li>
                        <li><a class="sscroll" href="index.html#blog-front" style="font-size:1.3em;">博文</a></li>
                        <li><a class="sscroll" href="index.html#portfolio" style="font-size:1.3em;">相册</a></li>
                        <li><a class="sscroll" href="index.html#clients" style="font-size:1.3em;">音乐</a></li>
                        <li><a class="sscroll" href="index.html#about" style="font-size:1.3em;">视频</a></li>
                        <li><a class="sscroll" href="index.html#testimonial" style="font-size:1.3em;">分享</a></li>
                        <li><a class="sscroll" href="index.html#contact" style="font-size:1.3em;">留言板</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>

        <div id="container">
            <!-- 首页开始 -->
            <section id="home" class="home">
                <!-- Superslides -->
                <div id="home-slide">
                    <ul class="slides-container text-center">
                        <li>
                            <div class="slide-text">
                                <h2>Built With Bootstrap</h2>
                                <span>Most popular HTML, CSS, and JS framework for developing responsive, mobile first projects</span>
                                <br/>
                            </div>
                          <div class="slide-filter"></div>
                            <img src="/static/public/team/images/slider/slide-1.jpg" class="par" alt="first">
                        </li>
                        <li>
                            <div class="slide-text">
                                <h2>Fullscreen Slider</h2>
                                <span>Superslides - A fullscreen, hardware accelerated slider for jQuery</span>
                                <br/>
                            </div>
                          <div class="slide-filter"></div>
                            <img src="/static/public/team/images/slider/slide-2.jpg" class="par" alt="first">
                        </li>
                        <li>
                            <div class="slide-text">
                                <h2>Elegant Design</h2>
                                <span>We focused on usability of the template and combined useful content blocks based on that</span>
                                <br/>
                            </div>
                          <div class="slide-filter"></div>
                            <img src="/static/public/team/images/slider/slide-3.jpg" class="par" alt="first">
                        </li>
                    </ul>
                    <nav class="slides-navigation slidez">
                        <a href="javascript:;" class="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <a href="javascript:;" class="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </nav>
                </div>
                <!-- End of Superslide -->
            </section>
            <!-- 首页结束 -->

            <!-- 栏目开始 -->
            <section id="services" class="services">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-content">
                            <h2>栏目</h2>
                            <h3>This is what we are good at</h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="service">
                                    <div class="icon-holder">
                                        <i class="fa fa-book"></i>
                                    </div>
                                    <h3 class="heading">博文</h3>
                                    <p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
				                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="service">
                                    <div class="icon-holder">
                                        <i class="fa fa-camera"></i>
                                    </div>
                                    <h3 class="heading">相册</h3>
                                    <p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
				                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="service">
                                    <div class="icon-holder">
                                        <i class="fa fa-music"></i>
                                    </div>
                                    <h3 class="heading">音乐</h3>
                                    <p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
				                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="service">
                                    <div class="icon-holder">
                                        <i class="fa fa-film"></i>
                                    </div>
                                    <h3 class="heading">视频</h3>
                                    <p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
				                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="service">
                                    <div class="icon-holder">
                                        <i class="fa fa-diamond"></i>
                                    </div>
                                    <h3 class="heading">分享</h3>
                                    <p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
				                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="service">
                                    <div class="icon-holder">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <h3 class="heading">留言板</h3>
                                    <p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
				                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 栏目结束 -->

            <!-- 博文开始 -->
            <section id="blog-front" class="blog-front gray">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>博文</h2>
                            <h3>Thoughts on design and development trends</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <article class="col-md-4 col-sm-6">
                        <figure class="blog-thumb">
                            <img src="/static/public/team/images/blog/blog-1.jpg" alt="blog-thumb">
                        </figure>
                        <div class="post-area">
                            <a class="post-cat" href="">
                            <h4>Design</h4>
                            </a>
                            <a class="post-title" href="blog-post.html">
                                <h3>At vero eos et accusamus et iusto odio dignissimos</h3>
                            </a>
                            <p class="post-content">No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around ...</p>
                        </div>
                    </article>

                    <article class="col-md-4 col-sm-6">
                        <figure class="blog-thumb">
                            <img src="/static/public/team/images/blog/blog-2.jpg" alt="blog-thumb">
                        </figure>
                        <div class="post-area">
                            <a class="post-cat" href="">
                            <h4>Illustration</h4>
                            </a>
                            <a class="post-title" href="blog-post.html">
                                <h3>At vero eos et accusamus et iusto odio dignissimos</h3>
                            </a>
                            <p class="post-content">No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around ...</p>
                        </div>
                    </article>

                    <article class="col-md-4 col-sm-6">
                        <figure class="blog-thumb">
                            <img src="/static/public/team/images/blog/blog-3.jpg" alt="blog-thumb">
                        </figure>
                        <div class="post-area">
                            <a class="post-cat" href="">
                            <h4>Inspiration</h4>
                            </a>
                            <a class="post-title" href="blog-post.html">
                                <h3>At vero eos et accusamus et iusto odio dignissimos</h3>
                            </a>
                            <p class="post-content">No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around ...</p>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn blog-btn" href="client/blog"><i class="fa fa-book fa-lg"></i>&nbsp;更多精美博文</a>
                    </div>
                </div>
            </section>
            <!-- 博文结束 -->

            <!-- 相册开始 -->
            <section id="portfolio" class="portfolio">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-content">
                            <h2>相册</h2>
                            <h3>Some of our accomplishments</h3>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <ul class="portfolioFilter text-center">
                            <li data-filter="websites">WEB SITES</li>
                            <li data-filter="illustrations">ILLUSTRATIONS</li>
                            <li data-filter="photo">PHOTOGRAPHS</li>
                            <li data-filter="all">EVERYTHING</li>
                        </ul>
                    </div>
                    <div class="col-md-12 mg-bt-80">
                        <div class="row portfolioContainer  text-center">
                            <div class="col-md-4 col-xs-6 portfolio-item websites">
                                <a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-1.jpg" data-lightbox-gallery="team-portfolio">
                                    <span class="project-hover">
                                        <span>Designing UI/UX
                                        </span>
                                    </span>
                                    <img src="/static/public/team/images/portfolio/portfolio-thumb-1.jpg" alt="portfolio-thumb-1">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item illustrations">
                                <a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-5.jpg" data-lightbox-gallery="team-portfolio">
                                    <span class="project-hover">
                                        <span>Designing Apps
                                        </span>
                                    </span>
                                    <img src="/static/public/team/images/portfolio/portfolio-thumb-5.jpg" alt="portfolio-thumb-5">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item websites">
                                <a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-3.jpg" title="Image with title"  data-lightbox-gallery="team-portfolio">
                                    <span class="project-hover">
                                        <span>Branding Identity
                                        </span>
                                    </span>
                                    <img src="/static/public/team/images/portfolio/portfolio-thumb-3.jpg" alt="portfolio-thumb-3">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item photo">
                                <a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-4.jpg" data-lightbox-gallery="team-portfolio">
                                    <span class="project-hover">
                                        <span>Photography
                                        </span>
                                    </span>
                                    <img src="/static/public/team/images/portfolio/portfolio-thumb-4.jpg" alt="portfolio-thumb-4">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item websites">
                                <a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-2.jpg" data-lightbox-gallery="team-portfolio">
                                    <span class="project-hover">
                                        <span>Website Design
                                        </span>
                                    </span>
                                    <img src="/static/public/team/images/portfolio/portfolio-thumb-2.jpg" alt="portfolio-thumb-2">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item illustrations">
                                <a class="popup" href="/static/public/team/images/portfolio/portfolio-thumb-6.jpg" data-lightbox-gallery="team-portfolio">
                                    <span class="project-hover">
                                        <span>Branding Illustration
                                        </span>
                                    </span>
                                    <img src="/static/public/team/images/portfolio/portfolio-thumb-6.jpg" alt="portfolio-thumb-6">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn blog-btn" href="client/blog"><i class="fa fa-camera fa-lg"></i>&nbsp;更多精美照片</a>
                    </div>
                </div>
            </section>
            <!-- 相册结束 -->

            <!-- 音乐开始 -->
            <section id="clients" class="clients gray">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>音乐</h2>
                            <h3>Some of our clients</h3>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row mg-bt-60">
                            <div class="col-md-12">
                                <ul class="client-slider">
                                    <li><img src="/static/public/team/images/clients/logo1.png" alt="logo-1"></li>
                                    <li><img src="/static/public/team/images/clients/logo2.png" alt="logo-1"></li>
                                    <li><img src="/static/public/team/images/clients/logo3.png" alt="logo-1"></li>
                                    <li><img src="/static/public/team/images/clients/logo4.png" alt="logo-1"></li>
                                    <li><img src="/static/public/team/images/clients/logo5.png" alt="logo-1"></li>
                                    <li><img src="/static/public/team/images/clients/logo6.png" alt="logo-1"></li>
                                    <li><img src="/static/public/team/images/clients/logo7.png" alt="logo-1"></li>
                                    <li><img src="/static/public/team/images/clients/logo8.png" alt="logo-1"></li>
                                    <li><img src="/static/public/team/images/clients/logo9.png" alt="logo-1"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn blog-btn" href="client/blog"><i class="fa fa-music fa-lg"></i>&nbsp;更多动听音乐</a>
                    </div>
                </div>
            </section>
            <!-- 音乐结束 -->

            <!-- 视频开始 -->
            <section id="about" class="about">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>视频</h2>
                            <h3>People behind the success</h3>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row mg-bt-40">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="teams">
                                    <div class="pict">
                                        <img src="/static/public/team/images/team/01.jpg" alt="Team 1">
                                    </div>
                                    <div class="desc">
                                        <h3>John Doe</h3>
                                        <span>Web Developer</span>
                                        <div class="social">
                                            <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                            <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                            <a href="javascript:;"><i class="fa fa-pinterest"></i></a>
                                            <a href="javascript:;"><i class="fa fa-dribbble"></i></a>
                                        </div>
                                    </div>

                                </div>
                          </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="teams">
                                    <div class="pict">
                                        <img src="/static/public/team/images/team/02.jpg" alt="Team 1">
                                    </div>
                                    <div class="desc">
                                        <h3>Jane Doe</h3>
                                        <span>Creative Writer</span>
                                        <div class="social">
                                            <a href="javascript:;"><i class="fa fa-pinterest"></i></a>
                                            <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                            <a href="javascript:;"><i class="fa fa-dribbble"></i></a>
                                            <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>

                                </div>
                          </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="teams">
                                    <div class="pict">
                                        <img src="/static/public/team/images/team/03.jpg" alt="Team 1">
                                    </div>
                                    <div class="desc">
                                        <h3>John Doe</h3>
                                        <span>Designer</span>
                                        <div class="social">
                                            <a href="javascript:;"><i class="fa fa-dribbble"></i></a>
                                            <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
                                            <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                                            <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>

                                </div>
                          </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="teams">
                                    <div class="pict">
                                        <img src="/static/public/team/images/team/04.jpg" alt="Team 1">
                                    </div>
                                    <div class="desc">
                                        <h3>Jane Doe</h3>
                                        <span>Creative Writer</span>
                                        <div class="social">
                                            <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                            <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                            <a href="javascript:;"><i class="fa fa-dribbble"></i></a>
                                            <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn blog-btn" href="client/blog"><i class="fa fa-film fa-lg"></i>&nbsp;更多精彩视频</a>
                    </div>
                </div>
            </section>
            <!-- 视频结束 -->

            <!-- 分享开始 -->
            <section id="testimonial" class="testimonial gray">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>分享</h2>
                            <h3>What Clients are saying about us?</h3>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div id="bx-pager" class="client-photos">
                            <a class="client-photo" data-slide-index="0" href="">
                              <img alt="" src="/static/public/team/images/clients/avatar-1.jpg"> <!-- Client photo 1 -->
                            </a>
                            <a class="client-photo" data-slide-index="1" href="">
                               <img alt="" src="/static/public/team/images/clients/avatar-2.jpg"> <!-- Client photo 2 -->
                            </a>
                            <a class="client-photo" data-slide-index="2" href="">
                              <img alt="" src="/static/public/team/images/clients/avatar-3.jpg"> <!-- Client photo 3 -->
                            </a>
                        </div>
                    <ul class="bxslider">
                        <li>
                            <h3>Work with TEAM was a pleasure. They understood exactly what I wanted and created an awesome site for my company.</h3>
                            <span>&mdash;<strong>Jane Pearson</strong>, CEO Pearson Associates</span>
                        </li>
                        <li>
                            <h3>I'm really happy with the results. Get 100% satisfaction is difficult but TEAM got it without problems.</h3>
                            <span>&mdash;<strong>Roy Royce</strong>, DevX</span>
                        </li>
                        <li>
                            <h3>If you wish success in life, make perseverance your bosom friend, experience your wise counselor, caution your elder brother and hope your guardian genius.</h3>
                            <span>&mdash;<strong>Minion Max</strong>, Bubble Gum</span>
                        </li>
                    </ul>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn blog-btn" href="client/blog"><i class="fa fa-diamond fa-lg"></i>&nbsp;更多资源分享</a>
                    </div>
                </div>
            </section>
            <!-- 分享结束 -->

            <!-- 留言板开始 -->
            <section id="contact" class="contact">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>留言板</h2>
                            <h3>Let us know if you have any query</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="address">
                            <h2>Get in touch</h2>
                            <p>Quod cum ita sit, paucae domus stud torpentis exundant, vocali sonu, perflabili tinnitu fidium resultantes. denique pro philosopho cantor et in locum oratoris doctor a</p>
                            <h2>Team Office</h2>
                            <ul class="office">
                                <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</li>
                                <li><i class="fa fa-phone"></i> <strong>Phone:</strong> (123) 456-7890</li>
                                <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <form id="contact-form" role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="c_name" placeholder="Name">
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control" id="c_email" placeholder="Email">
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" id="c_message" rows="10" placeholder="Message"></textarea>
                            </div>
                            <br/>
                            <button type="submit" class="btn">Send Message</button>
                            <div class="ajax-response"></div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn blog-btn" href="client/blog"><i class="fa fa-envelope fa-lg"></i>&nbsp;更多有趣留言</a>
                    </div>
                </div>
            </section>
            <!-- 留言板结束 -->

            <!-- BEGIN FOOTER -->
            <footer>
                <div class="row">
                    <div class="col-md-12">
                        <div class="social">
                            <a href="javascript:;"><i class="fa fa-qq"></i></a>
                            <a href="javascript:;"><i class="fa fa-weixin"></i></a>
                            <a href="javascript:;"><i class="fa fa-weibo"></i></a>
                            <a href="javascript:;"><i class="fa fa-tencent-weibo"></i></a>
                        </div>
                        <p>
                            Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a>
                        </p>
                    </div>
                </div>
            </footer>
            <!-- END FOOTER -->
        </div>
    </div>


    <!-- Back to top -->
    <div id="backtotop">
        <a class="to-top-btn sscroll" href="index.html#home"><i class="fa fa-angle-double-up"></i></a>
    </div>


    <!-- Library Scripts -->
    <script src="/static/public/team/js/jquery-1.10.2.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.preloader.js"></script>
    <script src="/static/public/team/js/lib/nivo-lightbox.min.js"></script>
    <script src="/static/public/team/js/bootstrap.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.superslides.min.js"></script>
    <script src="/static/public/team/js/lib/smoothscroll.js"></script>
    <script src="/static/public/team/js/lib/jquery.bxslider.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.mixitup.min.js"></script>
    <script src="/static/public/team/js/lib/jquery.backtotop.js"></script>
    <script src="/static/public/team/js/lib/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="/static/public/team/js/lib/retina.min.js"></script>

    <!-- Custom Script -->
    <script src="/static/public/team/js/main.js"></script>
</body>

</html>
