<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>添加栏目</title>
	<!-- Bootstrap Styles-->
    <link href="/static/public/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/static/public/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/public/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="/static/public/assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />-->
</head>
<body>
<!--引入公用部分-->
	{% include "include/nav.html" %}

	<!-- /. NAV SIDE  -->
	<div id="page-wrapper" >
		<div id="page-inner">
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-header">栏目管理 <small>添加栏目</small></h1>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<form class="form-horizontal" action="">
								<div class="form-group">
									<label for="classificationIdLevel" class="col-md-2 control-label">栏目级别:</label>
									<div class="col-md-3">
										<select class="form-control" id="classificationIdLevel">
											<option value="0">请选择</option>
											<option value="1">一级栏目</option>
											<option value="2">二级栏目</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="classificationName" class="col-md-2 control-label">栏目名称:</label>
									<div class="col-md-3">
										<input type="text" class="form-control" id="classificationName" />
									</div>
								</div>
								<div class="form-group">
									<label for="classificationOrder" class="col-md-2 control-label">栏目顺序:</label>
									<div class="col-md-3">
										<input type="text" class="form-control" id="classificationOrder" />
									</div>
								</div>
								<div class="form-group">
									<label for="classificationFormat" class="col-md-2 control-label">内容格式:</label>
									<div class="col-md-3">
										<input type="password" class="form-control" id="classificationFormat" placeholder="请输入1、2、3、4" />
									</div>
									<div class="col-md-7">
										<p class="help-block" style="margin-top: -15px;">注:1:文本,2:图片,3:音乐,4:视频</p>
									</div>
								</div>

								<div class="form-group">
									<label for="isShow" class="col-md-2 control-label">是否启用:</label>
									<div class="col-md-2">
										<label for="use" class="radio-inline">
											<input type="radio" name="isShow" checked="checked" />启用
										</label>
									</div>
									<div class="col-md-2">
										<label for="notUse" class="radio-inline">
											<input type="radio" name="isShow" />禁用
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-offset-2 col-md-3">
										<button type="back" class="btn btn-default">返回</button>
										<button type="submit" class="btn btn-primary">添加</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			 <!-- /. ROW  -->
			 <footer style="text-align: center;">
				 <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>
			 </footer>
		</div>
		 <!-- /. PAGE INNER  -->
	</div>
	<!-- /. PAGE WRAPPER  -->

	<!-- JS Scripts-->
    <!-- jQuery Js -->
	 <script src="/static/public/assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="/static/public/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/static/public/assets/js/jquery.metisMenu.js"></script>
      <!-- Custom Js -->
    <script src="/static/public/assets/js/custom-scripts.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/public/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/public/assets/js/morris/morris.js"></script>

	<script src="/static/public/assets/js/easypiechart.js"></script>
	<script src="/static/public/assets/js/easypiechart-data.js"></script>
</body>
</html>