<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>添加博文</title>
	<!-- Bootstrap Styles-->
    <link href="/static/public/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/static/public/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/public/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
	<!-- Custom Styles-->
    <link href="/static/public/assets/css/custom-styles.css" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="/static/public/umeditor/themes/default/css/umeditor.css"/>
     <!-- Google Fonts-->
   <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />-->
</head>
<body>
<!--引入公用部分-->
	{% include "include/nav.html" %}

	<!-- /. NAV SIDE  -->
	<div id="page-wrapper" >
		<div id="page-inner">
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-header">发布博文 <small>添加博文</small></h1>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<form class="form-horizontal" id="newsForm" enctype="multipart/form-data" method="post" action="/saveNews/">
								<div class="form-group">
									<label for="firstClassification" class="col-md-2 control-label">一级栏目:</label>
									<div class="col-md-3">
										<select name="firstClassification" class="form-control" id="firstClassification">
											<option value="0">请选择</option>
											{% for class in firstClassification %}
											<option value="{{class.classificationId}}">{{class.classificationName}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="secondClassification" class="col-md-2 control-label">二级栏目:</label>
									<div class="col-md-3">
										<select name="secondClassification" class="form-control" id="secondClassification">
											<option value="0">请选择</option>
										</select>
									</div>
								</div>
								<div class="thirdClass form-group" style="display: none;">
									<label for="thirdClassification" class="col-md-2 control-label">三级栏目:</label>
									<div class="col-md-3">
										<select name="thirdClassification" class="form-control" id="thirdClassification">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="title" class="col-md-2 control-label">标题:</label>
									<div class="col-md-3">
										<input type="text" name="title" class="form-control" id="title" />
									</div>
									<label for="pictureUrl" class="col-md-2 control-label">图片名称:</label>
									<div class="col-md-1">
										<input name="pictureUrl" type="file" class="hidden" id="pictureUrl" />
										<input type="button" class="form-control btn-info" id="uploadPicture" value="上传" />
									</div>
									<div class="col-md-3">
										<input type="text" name="pictureName" class="form-control" id="pictureName" />
									</div>
								</div>
								<div class="form-group">
									<label for="briefNews" class="col-md-2 control-label">博文简介:</label>
									<div class="col-md-3">
										<textarea name="briefNews" class="form-control" id="briefNews" rows="9.5"></textarea>
									</div>
									<label for="imgName" class="col-md-2 control-label">图片展示:</label>
									<div class="col-md-4">
										<img src="" class="img-responsive" id="imgName" alt="">
									</div>
								</div>
								<div class="form-group">
									<label for="content" class="col-md-2 control-label">博文内容:</label>
									<div class="col-md-9">
								 		<div id="content" style="height: 200px;">
										</div>
										<input type="text" name="newsContent" id="newsContent" value="{{news.content}}" style="display:none;" />
									</div>
								</div>
								<div class="form-group">
									<label for="isTop" class="col-md-2 control-label">是否置顶:</label>
									<div class="col-md-2">
										<label for="isNotTop" class="radio-inline">
											<input type="radio" name="isTop" value="false" checked="checked" />不置顶
										</label>
									</div>
									<div class="col-md-2">
										<label for="Top" class="radio-inline">
											<input type="radio" name="isTop" value="true" />置顶
										</label>
									</div>
								</div>
								<input type="text" name="status" value="{{news.status}}" style="display:none;" />
								<div class="form-group">
									<div class="col-md-offset-2 col-md-3">
										<button type="back" class="btn btn-default" onclick="javascript:history.go(-1);">返回</button>
										<button type="button" class="btn btn-warning" id="laterSave">暂存</button>
										<button type="button" class="btn btn-primary" id="saveNews">发布</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			 <!-- /. ROW  -->
			 <footer style="text-align: center;">
				 <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>
			 </footer>
		</div>
		 <!-- /. PAGE INNER  -->
	</div>
	<!-- /. PAGE WRAPPER  -->

	<!-- JS Scripts-->
	<script type="text/javascript" src="/static/public/umeditor/third-party/jquery.min.js"></script>
    <script src="/static/public/umeditor/umeditor.config.js" type="text/javascript"></script>
    <script src="/static/public/umeditor/umeditor.min.js" type="text/javascript"></script>
    <script src="/static/public/umeditor/lang/zh-CN/zh-CN.js" type="text/javascript"></script>
    <script type="text/javascript">
        //实例化编辑器
        var um = UM.getEditor('content');
		$(function(){
            $("#dashboard-menu").addClass("in");
        })
    </script>
    <!-- jQuery Js -->
	<script src="/static/public/assets/js/jquery-1.10.2.js"></script>
	<script src="/static/public/jquery.form.js"></script>
	<script src="/static/js/first/addNews.js"></script>
      <!-- Bootstrap Js -->
    <script src="/static/public/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/static/public/assets/js/jquery.metisMenu.js"></script>
      <!-- Custom Js -->
    <script src="/static/public/assets/js/custom-scripts.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/public/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/public/assets/js/morris/morris.js"></script>
</body>
</html>