<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>添加博文</title>
	<!-- Bootstrap Styles-->
    <link href="/static/public/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/static/public/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/public/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="/static/public/assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />-->
</head>
<body>
<!--引入公用部分-->
	{% include "include/nav.html" %}

	<!-- /. NAV SIDE  -->
	<div id="page-wrapper" >
		<div id="page-inner">
			<div class="row">
				<!--<div class="col-md-12">-->
					<!--<h1 class="page-header">-->
						<!--Empty Page <small>Create new page.</small>-->
					<!--</h1>-->
				<!--</div>-->
				添加博文
			</div>
			 <!-- /. ROW  -->
			 <!--<footer><p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></footer>-->
		</div>
		 <!-- /. PAGE INNER  -->
	</div>
	<!-- /. PAGE WRAPPER  -->

	<!-- JS Scripts-->
    <!-- jQuery Js -->
	 <script src="/static/public/assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="/static/public/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/static/public/assets/js/jquery.metisMenu.js"></script>
      <!-- Custom Js -->
    <script src="/static/public/assets/js/custom-scripts.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/public/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/public/assets/js/morris/morris.js"></script>

	<script src="/static/public/assets/js/easypiechart.js"></script>
	<script src="/static/public/assets/js/easypiechart-data.js"></script>
</body>
</html>