<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comments</title>
</head>
<body>
    <div class="blog-comments">
                                    <!-- BLOG REPLY -->
                                    <h3>发表评论
                                        <span>您的电子邮件地址将不会发布。</span>
                                    </h3>
                                    <form role="form">
                                        <div class="form-group row">
                                            <div class="col-md-8">
                                                <input type="email" class="form-control col-md-6" placeholder="请输入您的邮箱">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" placeholder="请输入您的昵称">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-8">
                                                <textarea class="form-control" rows="10" placeholder="请输入您的评论"></textarea>
                                            </div>
                                        </div>
                                        <br/>
                                        <p>您可以使用这些
                                            <abbr title="HyperText Markup Language">HTML</abbr>&nbsp;标记和属性:
                                        </p>
                                        <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt;</code>
                                        <br/>
                                        <button type="submit" class="btn">发表评论</button>
                                    </form>
                                    <!-- END BLOG REPLY -->

                                    <h3>评论 (3)</h3>
                                    <div class="blog-comment-content">
                                        <ul class="media-list">
                                            <li class="media">
                                                <figure class="pull-left">
                                                    <a href="javascript:;">
                                                        <img class="media-object" src="/static/public/team/images/clients/avatar-1.jpg" alt="comment-1">
                                                    </a>
                                                </figure>
                                                <div class="media-body">
                                                    <div class="comment-meta">
                                                        <h4 class="media-heading"><a href="javascript:;">Jane Pearson</a></h4>
                                                        <span class="time">
                                                            10 July 2015
                                                        </span>
                                                        <div class="comment-extra pull-right">
                                                            <a href="javascript:;">回复<i class="fa fa-share"></i></a>
                                                        </div>
                                                    </div>
                                                    <p>“科技企业家习惯一马平川的顺利前进，但中国市场的规则与他们所想并不一样。”WilmerHale律师事务所北京办事处合伙人莱斯特·罗斯（Lester Ross）说。 </p>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <figure class="pull-left">
                                                    <a href="javascript:;">
                                                        <img class="media-object" src="/static/public/team/images/clients/avatar-2.jpg" alt="comment-1">
                                                    </a>
                                                </figure>
                                                <div class="media-body">
                                                    <div class="comment-meta">
                                                        <h4 class="media-heading"><a href="javascript:;">Roy Royce</a></h4>
                                                        <span class="in-reply">
                                                            in Reply with Jane Pearson
                                                        </span>
                                                        <span class="time">
                                                            1 Dec 2015
                                                        </span>
                                                        <div class="comment-extra pull-right">
                                                            <a href="javascript:;">回复 <i class="fa fa-share"></i></a>
                                                        </div>
                                                    </div>
                                                    <p>“科技企业家习惯一马平川的顺利前进，但中国市场的规则与他们所想并不一样。”WilmerHale律师事务所北京办事处合伙人莱斯特·罗斯（Lester Ross）说。 </p>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <figure class="pull-left">
                                                    <a href="javascript:;">
                                                        <img class="media-object" src="/static/public/team/images/clients/avatar-3.jpg" alt="comment-1">
                                                    </a>
                                                </figure>
                                                <div class="media-body">
                                                    <div class="comment-meta">
                                                        <h4 class="media-heading">Minion Max</h4>
                                                        <span class="in-reply">
                                                            in Reply with Roy Royce
                                                        </span>
                                                        <span class="time">
                                                            5 Hours ago
                                                        </span>
                                                        <div class="comment-extra pull-right">
                                                            <a href="javascript:;">回复 <i class="fa fa-share"></i></a>
                                                        </div>
                                                    </div>
                                                    <p>“科技企业家习惯一马平川的顺利前进，但中国市场的规则与他们所想并不一样。”WilmerHale律师事务所北京办事处合伙人莱斯特·罗斯（Lester Ross）说。 </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
</body>
</html>