<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>leftNav</title>
</head>
<body>
        <!-- Site Navigation -->
        <div id="menu">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html#">
                        <img src="/static/public/team/images/logo.png" alt="logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a class="sscroll" href="index.html#home" style="font-size:1.3em;">首页</a></li>
                        <li><a class="sscroll" href="index.html#blog-front" style="font-size:1.3em;">博文</a></li>
                        <li><a class="sscroll" href="index.html#portfolio" style="font-size:1.3em;">相册</a></li>
                        <li><a class="sscroll" href="index.html#clients" style="font-size:1.3em;">音乐</a></li>
                        <li><a class="sscroll" href="index.html#about" style="font-size:1.3em;">视频</a></li>
                        <li><a class="sscroll" href="index.html#testimonial" style="font-size:1.3em;">分享</a></li>
                        <li><a class="sscroll" href="index.html#contact" style="font-size:1.3em;">留言板</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
</body>
</html>