<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>rightNav</title>
</head>
<body>
	<div class="col-md-3 sidebar">
        <!--搜索开始-->
        <div class="row widget">
            <div class="col-md-12">
                <form class="search-widget">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="search..">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </form>
            </div>
        </div>
        <!--搜索结束-->

        <div class="row widget">
            <div class="col-md-12">
                <div class="categories-widget">
                    <h3 class="widget-title">
                        标签
                    </h3>
                    <ul>
                        <li>
                            <a href="javascript:;">计算机</a> (5)
                        </li>
                        <li>
                            <a href="javascript:;">生活</a> (2)
                        </li>
                        <li>
                            <a href="javascript:;">科技</a> (5)
                        </li>
                        <li>
                            <a href="javascript:;">美食</a> (12)
                        </li>
                        <li>
                            <a href="javascript:;">旅游</a> (8)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /widget -->

        <div class="row widget">
            <div class="col-md-12">
                <div class="recent-post-widget">
                    <h3 class="widget-title">
                        最新 博文
                    </h3>
                    <ul>
                        <li>
                            <a href="javascript:;">火车站线下购票支持支付宝扫码 全程几秒</a>
                        </li>
                        <li>
                            <a href="javascript:;">哈佛为试验迷幻药作用,给学生们磕了蘑菇</a>
                        </li>
                        <li>
                            <a href="javascript:;">在北上广 年入30万算有钱人吗？</a>
                        </li>
                        <li>
                            <a href="javascript:;">黄子韬在机场发生了意外 瘫倒在地</a>
                        </li>
                        <li>
                            <a href="javascript:;">53岁李连杰鬓角斑白 曾感慨自己离死亡不远</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /widget -->

    </div>
</body>
</html>