<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>rightNav</title>
</head>
<body>
	<div class="col-md-3 sidebar">

                        <!--搜索开始-->
                        <div class="row widget">
                            <div class="col-md-12">
                                <form class="search-widget">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="search..">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                        </div>
                        <!--搜索结束-->

                        <div class="row widget">
                            <div class="col-md-12">
                                <div class="categories-widget">
                                    <h3 class="widget-title">
                                        Categories
                                    </h3>
                                    <ul>
                                        <li>
                                            <a href="javascript:;">Photography</a> (5)
                                        </li>
                                        <li>
                                            <a href="javascript:;">Web Design</a> (2)
                                        </li>
                                        <li>
                                            <a href="javascript:;">Freebies</a> (5)
                                        </li>
                                        <li>
                                            <a href="javascript:;">Inspiration</a> (12)
                                        </li>
                                        <li>
                                            <a href="javascript:;">Creative</a> (8)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /widget -->

                        <div class="row widget">
                            <div class="col-md-12">
                                <div class="recent-post-widget">
                                    <h3 class="widget-title">
                                        Recent Posts
                                    </h3>
                                    <ul>
                                        <li>
                                            <a href="javascript:;">Sed ut perspiciatis unde omnis iste</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">At vero eos et accusamus et iusto</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Nam libero tempore, cum soluta nobis</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Temporibus autem quibusdam et aut officiis</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Itaque earum rerum hic tenetur</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /widget -->

                    </div>
</body>
</html>